<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
<meta charset="UTF-8">
<title></title>
</head>
<body>
<body>
	<nav class="navbar navbar-default navbar-dark bg-info">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/user">戻る</a>
			</div>
		</div>
	</nav>
</body>
<div class="container bg-light">
	<div class="panel panel-default">
		<div class="panel-body">
			<th:block th:if="${signupErrors != null}">
				<div class="alert alert-danger">
					<div class="signupErrors" th:each="errormessage: ${signupErrors}"
						th:object="${signupErrors}">
						<div class="errormessage" th:text="${errormessage}"></div>
					</div>
				</div>
			</th:block>

			<form action="/signupuser" method="post" th;object="${formModel}">
				<br />
				<!-- thobject="${formModel}" -->
				<!-- 名前 -->

				<label for="name">ユーザー名</label><br /> <input name="name"
					th:value="${formModel.name}" /><br />
				<!-- アカウント -->
				<label for="account">アカウント名</label><br /> <input name="account"
					th:value="*{formModel.account}" /> <br />
				<!-- パスワード -->
				<label for="password">パスワード</label><br /> <input name="password"
					type="password" /> <br />
				<!-- 確認用パスワード -->
				<label for="password">確認用パスワード</label><br /> <input
					name="verficPass" type="password" th:value="${verficPass}" /> <br />
				<!-- 部署 -->
				<label for="department">部署</label><br /> <select id="departments"
					name="departmentId">
					<option th:each="department : ${departments}"
						th:value="${department.id}"
						th:selected="${department.id == formModel.departmentId}"
						th:text="${department.name}"></option>
				</select><br />
				<!-- 支社 -->
				<label for="branch">支社</label><br /> <select id="branches"
					name="branchId">
					<option th:each="branch : ${branches}" th:value="${branch.id}"
						th:selected="${branch.id == formModel.branchId}"
						th:text="${branch.name}"></option>
				</select> <br /> <br /> <input type="submit" value="登録"
					class="btn btn-info" /> <br />
			</form>
			<br> <a href="./try">戻る</a>
		</div>
	</div>
</div>


</body>
</html>